[Unit]
Description=https-forward
After=network.target

[Service]
ExecStart=/home/sam/https/server
User=nobody
Group=nogroup
ProtectSystem=yes
AmbientCapabilities=CAP_NET_BIND_SERVICE

[Install]
WantedBy=multi-user.target
